
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="description" content="Learn how to quickly get started using our CSS framework. We have guides for a variety of skill levels.">
    <title>Getting Started - Materialize</title>
    <!-- Favicons-->
    <link rel="apple-touch-icon-precomposed" href="images/favicon/apple-touch-icon-152x152.png">
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta name="msapplication-TileImage" content="images/favicon/mstile-144x144.png">
    <link rel="icon" href="images/favicon/favicon-32x32.png" sizes="32x32">
    <!--  Android 5 Chrome Color-->
    <meta name="theme-color" content="#EE6E73">
    <!-- CSS-->

    <link href="/css/src-materialize.css" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="/css/elements.css" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="http://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet" type="text/css">
    <script>
      window.liveSettings = {
        api_key: "a0b49b34b93844c38eaee15690d86413",
        picker: "bottom-right",
        detectlang: true,
        dynamic: true,
        autocollect: true
      };
    </script>
    <script src="//cdn.transifex.com/live.js"></script>
  </head>
  <body>



    <main>
      <nav class="top-nav">
        <div class="container">
          <div class="nav-wrapper"><a class="page-title">Page Title</a></div>
        </div>
      </nav>

        <div class="row">
           <!-- <div class="container"> -->
          <div class="col s3">
            <header>
            <div class="container">
              <a href="#" data-activates="nav-mobile" class="button-collapse top-nav full"><i class="mdi-navigation-menu"></i></a></div>
      <ul id="nav-mobile" class="side-nav fixed">
        <li class="logo"><a id="logo-container" href="/" class="brand-logo"></a></li>
        <li class="bold"><h6 class="waves-effect waves-teal">Organization</h6></li>

        <li class="no-padding">
          <ul class="collapsible collapsible-accordion">
            <li class="bold"><a class="collapsible-header active waves-effect waves-teal">Chat</a>
              <div class="collapsible-body">
                <ul>
                  <li><a href="/chat/">Activity</a></li>
                  <li><a href="/messages/">Messages</a></li>
                  <li><a href="/messages/">Channels</a></li>
                  <li><a href="/people">People</a></li>
                  <li><a href="/teams">Teams</a></li>
                </ul>
              </div>
            </li>
            <li class="bold"><a class="collapsible-header  waves-effect waves-teal">Settings</a>
              <div class="collapsible-body">
                <ul>
                  <li><a href="badges.html">Organization</a></li>
                  <li><a href="buttons.html">Manage Plan</a></li>
                  <li><a href="cards.html">Billing Information</a></li>
                  <li><a href="collections.html">Payment History</a></li>
                </ul>
              </div>
            </li>
          </ul>
        </li>
        <li class="bold"><a href="getting-started.html" class="waves-effect waves-teal">Getting Started</a></li>
        <li class="bold"><a href="getting-started.html" class="waves-effect waves-teal">Contact Support</a></li>
      </ul>
    </header>
  </div>
          <div class="col s12">
            <%= @inner %>
          </div>

        <!-- </div> -->
    <!-- </div> -->

    </main>
    <footer class="page-footer">
      <div class="container">
        <div class="row">

          <div class="col l12 s12">
            <h5 class="white-text">Join the Discussion</h5>
            <p class="grey-text text-lighten-4">We have a Plug chat room set up where you can talk directly with us. Come in and discuss new features, future goals, general problems or questions, or anything else you can think of.</p>
            <a class="btn waves-effect waves-light red lighten-3" target="_blank" href="">Chat</a>
          </div>

        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
        © 2015 Plug.
        <a class="grey-text text-lighten-4 center" href="http://sparkpl.ug">Made with ♥ in Uganda</a>
        </div>
      </div>
    </footer>
    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script>if (!window.jQuery) { document.write('<script src="bin/jquery-2.1.1.min.js"><\/script>'); }
    </script>
    <script src="/js/jquery.timeago.min.js"></script>
    <script src="js/prism.js"></script>
    <script src="/js/materialize.js"></script>
    <script src="js/init.js"></script>
    <!-- Twitter Button -->
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

    <!-- Google Plus Button-->
    <script src="https://apis.google.com/js/platform.js" async defer></script>

    <!--  Google Analytics  -->
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-xxxxxxxx-x', 'auto');
    ga('require', 'displayfeatures');
    ga('send', 'pageview');
    </script>
  </body>
</html>