<!DOCTYPE html>
<html>
<head>
    <title>Soko :: Spark Your Business</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/app.css">
</head>
<body >
<section id="container">
    <%= @inner %>
</section>

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="/js/bundle.js"></script>
</body>
</html>
